<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=900">
    <title>Marvelous DB</title>
    <link rel="stylesheet" type="text/css" href="//d2kke625l9ja1k.cloudfront.net/css/main.css">
    <link rel="stylesheet" type="text/css" href="//d2kke625l9ja1k.cloudfront.net/css/gridrotator.css">

    <script type="text/javascript" src="//d2kke625l9ja1k.cloudfront.net/js/modernizr.custom.26633.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	<nav class="main-nav">
  		<a href="/characters" title="">Characters<span></span></a>
  		<a href="/comics" title="">Comics<span></span></a>
  		<form class="search" role="search" action="/characters/search" method="get" accept-charset="utf-8">
			<input type="search" class="search-input" name="s" placeholder="Search">
		</form>
  	</nav>
  	
  	<div class="container">
    	{{{body}}}
    </div>

    <footer>
    	<p>Data provided by Marvel. &copy; 2014 <a href="http://marvel.com">Marvel</a></p>
    	<p>
    		<a href="http://orchestrate.io">
    			Powered By <img src="//d2kke625l9ja1k.cloudfront.net/img/orchestrate.gif" width="50" height="50"> Orchestrate
    		</a>
    	</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="//d2kke625l9ja1k.cloudfront.net/js/jquery.gridrotator.js"></script>
    <script src="//d2kke625l9ja1k.cloudfront.net/js/main.js"></script>

    <script type="text/javascript" src="//use.typekit.net/kqv0wjk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>